* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}
ul,
ol {
  list-style: none;
}

/* HEADER */
.headerClass {
  height: 60px;
}

/* character list styles */
.character-list li {
  cursor: pointer;
}

/* nav styling - mobile*/

.nav {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.logo {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  padding-top: 5px;
}

.hamburger .line {
  display: block;
  width: 38px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #deb309;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  color: #deb309;
  border-radius: 3px;
}

.hide {
  display: none;
}
/*BTN*/
.btn {
  cursor: pointer;
  padding: 10px;
  min-width: 50%;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #deb309;
  background-color: rgb(10, 20, 133);
}
.btn:hover {
  color: rgb(10, 20, 133);
  background-color: #deb309;
}

/* GRID */
.main_grid {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding-block: 2rem;
  width: min(95%, 100rem);
  margin-inline: auto;
  place-items: center;
}
.grid_item_top {
  grid-area: one;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 80%;

  overflow: hidden;
}
.grid_item_top h2 {
  color: #deb309;
  padding-top: 50px;
}

.btn-div {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 100%;
  width: 80%;

  overflow: hidden;
}
.characters {
  padding: 10px;
  height: 100%;
  width: 80%;
  min-width: 220px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url(img/bg_container.png);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #d0d0d0;
}
.characters ul li {
  color: #deb309;
  font-weight: 700;
  transition-property: color;
  transition-duration: 0.2s;
  text-align: center;
}

.characters ul li:hover {
  color: rgb(0, 75, 180);
  font-size: larger;
}
.character-info {
  padding: 10px;
  height: 100%;
  width: 80%;
  min-width: 220px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url(img/bg_container.png);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #d0d0d0;
  color: #deb309;
  font-weight: 700;
  transition-property: color;
  transition-duration: 0.2s;
  text-align: center;
}

/* nav styling - nonMobile */
@media screen and (min-width: 951px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
  /* grid */
  .main_grid {
    display: grid;
    place-items: center;
    grid-template-areas:
      "a    a    a    a"
      "e    b    c    d"
      "e    b    c    d";
  }
  .grid_item_top {
    grid-area: a;
    display: flex;
    justify-content: space-between;
  }
  .grid_item_top h2 {
    font-size: 2rem;
    color: #deb309;
    padding-top: 100px;
  }
  #characters {
    grid-area: b;
  }
  #character-info {
    grid-area: c;
  }
  .characters ul li {
    text-align: left;
  }
  .character-info {
    text-align: left;
  }
}

/* Validerat 221113 */
